/******=====  Style for banner section  ====*****/
.skb-banner-section{
    background-color: rgba(46,5,233,1);
}
.skb-banner-contents h2 {
    color: #fff;
    font-size: 64px;
    padding-top: 30px;
        font-weight: 300;
    line-height: 1.4em;
}
.skb-banner-contents p {
    color: #fff;
    font-size: 18px;
    line-height: 1.4em;
    padding: 0 255px;
    margin-top: 20px;
}
a.join-now {
    display: inline-block;
    background: #34D1B6;
    color: #fff;
    padding: 7px 50px;
    border-radius: 50px;
    margin-top: 24px;
    margin-bottom: 24px;
    text-decoration: none;
}

.banner-left-icons {
    position: relative;
}

.banner-left-icons ul {
    position: relative;
    margin: 0;
    padding: 0;
}

.banner-left-icons ul li {
    list-style: none;
    position: absolute;
    font-size: 19px;
}
.banner-left-icons {
    position: relative;
}


li.skb-heart {
    color: #C1B4F8;
    right: 30px;
}

li.skb-envelope {
    top: 143px;
    left: 40px;
    color: #EBE6FD;
}
li.skb-bell {
    right: 115px;
    top: 157px;
    color: #8269F2;
}
li.skb-star {
    right: 31px;
    top: 250px;
    color: #EBE6FD;
}
li.skb-phone {
    top: 300px;
    left: 110px;
    color: #EBE6FD;
}
li.skb-map {
    right: 90px;
    top: 380px;
    color: #6D50F0;
}

.banner-img {
    width: 100%;
}

.banner-img img {
    margin-bottom: -50px;
    width: 100%;
    margin-top: 60px;
}

.banner-right-icons{}
.banner-right-icons ul {
    margin: 0;
    padding: 0;
    position: relative;
}
.banner-right-icons ul li{
    list-style: none;
    position: absolute;
    font-size: 19px;
        color: #EBE6FD;

}

.skb-announce {
    left: 70px;
}
.skb-user {
    left: 200px;
    top: 60px;
    color: #fff!important;
}
.skb-rocket {
    top: 136px;
    left: 24px;
}
.skb-bolt {
    right: 36px;
    top: 165px;
}
.skb-share {
    top: 270px;
    right: 100px;
}
.skb-comment {
    top: 346px;
    left: 80px;
}
.skb-credit {
    top: 478px;
    right: 126px;
}
.skb-bells {
    top: 510px;
    left: 30px;
}

section.how-it-works {
    padding: 120px 0 85px;
}


/********** Style for how it works section ********/
.hiw-header {
    text-align: center;
    font-size: 44px;
    color: #34d1b6;
    font-weight: 500;
    line-height: 62px;
}

.vertical-line{
    transform: rotate(90deg);
    width: 120px;
    height: 5px;
    box-sizing: border-box;
    border-top: 1px dashed rgba(207,200,200,1);
    --lnw: 1px;
    --brd: 207,200,200;
    --alpha-brd: 1;
    transform-origin: center 0.5px;
    position: relative;
    top: 80px;
    display: block;
    margin: auto;
}

.skb-space {
    margin-top: 190px;
    padding: 30px 0 50px;
}
.works-container{
    width: 51.5%;
    margin: auto;
}
.works-content {
    padding-left: 46px;
}
.works-iamge {
    border-radius: 6px;
    box-shadow: -0.00px -5.00px 24px 0px rgba(153,153,151,0.15);
    width: 234px;
    height: auto;
    margin: auto;
    position: relative;

}

.works-iamge img {
    width: 110px;
    height: 100px;
    position: relative;
    margin: 77px 0px 57px 0;
    left: 60px;
}
.works-iamge h3.work-left-counter {
    position: absolute;
    top: -79px;
    font-size: 120px;
    letter-spacing: 0.1em;
    left: -48px;
    font-weight: 800;
    color: #8CE0D2;
}
.works-iamge h3.work-right-counter {
    position: absolute;
    top: -82px;
    font-size: 120px;
    letter-spacing: 0.1em;
    right: -79px;
    font-weight: 800;
    color: #8CE0D2;
}
.works-content h4 {
    color: #07081f;
    font-size: 19px;
    line-height: 1.4em;
    font-weight: 500;
    letter-spacing: .3em;
    margin-bottom: 35px;
}
.works-content p {
    color: #434346;
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
}

/*********==== Style for Connection section ===******/
.connection-header {
    line-height: 1.4em;
    text-align: center;
    font-size: 44px;
    letter-spacing: .15em;
    color: #6FD1B6;
    margin-bottom: 60px;
}
.connection-container {
    background: url(connection.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0px 65px;
    height: 330px;
}
.connection-container h2 {
    text-align: center;
    font-size: 53px;
    text-transform: uppercase;
    line-height: 0.9em;
    letter-spacing: 0.12em;  
      font-weight: 800;
    color: rgb(217,255,248);
    padding: 55px 0 0;
    margin: 0;
}
.connection-content {
    background: rgb(255, 255, 255);
    padding: 34px;
    width: 38%;
    border-radius: 6px;
    box-shadow: rgba(153, 153, 151, 0.15) -22.63px -22.63px 24px 0px;
    position: relative;
    left: 31%;
    bottom: 174px;
}
.connection-content p {
    font-size: 14px;
    color: #434346;
}

/******==== Style for review section===******/
section.review-section h2 {
    margin-top: -40px;
}
.review-container {
    width: 64%;
    margin: auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

@media (max-width: 767px) {
    .review-container {
        width: 80%;
        grid-template-columns: 50% 50%;

    } 
}
.review-image a img{
    width: 100%;
}

/*******===== style for product showcase===******/
.showcase-container{
    width: 64%;
    margin: 100px auto;
}
.product-showcase-img {
    position: relative;
}

.product-showcase-img h2 {
    position: absolute;
    top: 52px;
    left: 50px;
    font-size: 66px;
    color: rgb(7,8,31);
    font-weight: 300;
}
.product-showcase-description {
    padding-left: 64px;
}
.product-showcase-description h3 {
    color: #07081f;
    font-size: 25px;
    font-weight: 400;
}
.product-showcase-description p {
    color: #07081f;
    font-size: 18px;
    line-height: 29px;
    font-weight: 400;
    margin-bottom: 0;
}
a.get-accress {
    background: #34D1B6;
    color: #fff;
    padding: 8px 30px;
    text-decoration: none;
    margin-top: 70px;
    display: inline-block;
}

/******===== Style for get in touch====******/
.get-in-touch-section{
    background-color: #2E05E9;
    padding: 136px 0;
}
.touch-info h5 {
    line-height: 1.4em;
    font-size: 19px;
    color: #fff;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    font-weight: 600;
}
.touch-info h4 {
    line-height: 1.4em;
    font-size: 44px;
    color: #fff;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
}
.touch-info p {
    color: #fff;
    font-size: 18px;
    margin-bottom: 45px;
}
.touch-form {
    width: 60%;
    margin: auto;
}
.touch-form form input{
    border: none;
    border-radius: 0;
}
.touch-form button {
    color: #fff;
    background: #34D1B6;
    display: block;
    width: 100%;
    border-radius: 0;
}

/******==== Style for footer====******/
.footer-section{
    background-color: #07081F;
}
.scrol-to-top{
    text-align: right;
}
.sc-social-icons ul {
    margin: 0;
    padding: 0;
}

.sc-social-icons ul li {
    list-style: none;
    display: inline-block;
}

.sc-social-icons ul li a {
    color: #fff;
    margin-right: 20px;
}
.scrol-to-top a img {
    width: 25px;
}
.sc-logo a {
    font-size: 16px;
    letter-spacing: 0.3em;
    line-height: 1.4em;
    color: rgb(153,153,151);

}
.sc-copyright p{
    color: rgb(153,153,151);
    text-align: right;
    font-size: 14px;
    margin: 0;
}
.sc-logo {
    margin-bottom: 5px;
}
.f-space{
    padding: 48px 0 26px;
}